{{! Це контейнер для сторінки Shophome }}

<main class='m-5'>

  {{#with newsBlock}}
    <h2 class='text-center pb-2'>
      {{title}}
    </h2>
    <div class='row'>
      {{#each cards}}
        <div class='col-3 mb-2 p-1'>
          <div class='card-deck'>
            <div class='card text-bg-dark h-100'>

              <div class='card-header border-light'>

                {{title}}
                {{#if isTop}}
                  <div
                    class='badge rounded-pill text-bg-success'
                  >New</div>
                {{/if}}
                {{#if idNew}}
                  <div
                    class='badge rounded-pill text-bg-danger'
                  >Top</div>
                {{/if}}

              </div>

              <div class='card-body'>
                {{description}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}

  <hr class='my-5' style='border-width:3px;' />

  {{#with goodsBlock}}
    <nav class='nav nav-tabs mb-5'>
      {{#each tabs}}
        {{#if isActive}}
          <a href='#' class='nav-link active'>{{text}}</a>
         {{else}}
          {{#if isDisabled}}
            <a
              href='#'
              class='nav-link disabled'
            >{{text}}</a>
            {{else}}
            <a href='#' class='nav-link'>{{text}}</a>
          {{/if}}
        {{/if}}
      {{/each}}
    </nav>

{{> shopcard}}
    
  </div>
</div>
{{/with}}

<hr class="my-5" />

{{#with subscribe}}
    <div class='card text-bg-dark'>
      <div class='row'>
        <div class='col-6'>
          <h2 class='ps-2 pt-2'>{{header}}</h2>
          <p class="ms-2 mt-3">{{description}}</p>
        </div>
        <div class='col-6'>
          <nav class='nav justify-content-end mt-3'>
            {{#each buttons}}
              <button
                type="{{type}}"
                class='btn btn-primary mt-3 me-3'
                href='{{link}}'
              >{{text}}</button>
            {{/each}}
          </nav>
        </div>
      </div>
    </div>
  {{/with}}

  <hr class="my-5" />

  {{> shopaction}}

  <hr class="my-5" />

</main>