{{#each goodsList}}
  <div class='col-6 mt-5'>
    <div class='card' style='height:100%;'>
      <img
        class='card-img-top'
        src='{{img}}'
        alt='{{name}}'
        style='height:300px; width=100%'
      />
      <div class='card-body'>
        {{#if isHot}}
          <div
            class='badge rounded-pill text-bg-warning text-light m-2'
            style='font-size: 14px;'
          >HOT!</div>
        {{/if}}
        {{#if isNew}}
          <div
            class='badge rounded-pill text-bg-primary my-2'
            style='font-size: 14px;'
          >New</div>
          <br />
        {{/if}}
        <br />
        {{#if isFast}}
          <div
            class='badge text-bg-success ms-2 m-2'
            style='font-size: 14px;'
          >Швидка доставка</div>
          <br />
        {{/if}}
        {{#if isFree}}
          <div
            class='badge text-bg-secondary ms-2 my-2'
            style='font-size: 14px;'
          >Безкоштовна доставка</div>
        {{/if}}

        <div class='my-2'><strong>{{name}}</strong></div>
        <div class='my-2'>{{review.amount}}
          {{review.text}}</div>
        <div class='my-2'><strong>{{price}}</strong></div>
        <div class='my-2'>{{delivery}}</div>

        {{#each buttons}}
          {{#if isPrimary}}
            <button
              class='btn btn-primary my-2'
              href='{{link}}'
            >{{text}}</button>
            <br />
          {{/if}}
          {{#if isSecondary}}
            <button
              class='btn btn-secondary my-2'
              href='{{link}}'
            >{{text}}</button>
            <br />
          {{/if}}
        {{/each}}

        {{#each characteristics}}
          <ul class='mt-3'>
            <li>{{title}}: {{value}}</li>
          </ul>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}