<div class='row'>
  <div class='col-6'>
    {{#with surname}}
      <label class='form-label mt-3'>{{label}}</label>
      <input
        class='form-control'
        placeholder='{{placeholder}}'
      />
      <div class='form-text'>{{caption}}</div>
    {{/with}}
  </div>

  <div class='col-6'>
    {{#with name}}
      <label class='form-label mt-3'>{{label}}</label>
      <input
        class='form-control'
        placeholder='{{placeholder}}'
      />
      <div class='form-text'>{{caption}}</div>
    {{/with}}
  </div>
</div>

<div class='row'>
  <div class='col-6'>
    {{#with phone}}
      <label class='form-label mt-3'>{{label}}</label>
      <input
        class='form-control'
        placeholder='{{placeholder}}'
      />
      <div class='form-text'>{{caption}}</div>
    {{/with}}
  </div>

  <div class='col-6'>
    {{#with email}}
      <label class='form-label mt-3'>{{label}}</label>
      <input
        class='form-control'
        placeholder='{{placeholder}}'
      />
      <div class='form-text'>{{caption}}</div>
    {{/with}}
  </div>
</div>